<div class="container">

    <div class="navbar">
        <nav>
            <ul>
                <li>HOME</li>
                <li>ABOUT US</li>
                <li>JOBS</li>
                <li>CLIENT</li>
                <li>EMPLOYEE</li>
                <li>CONTACT US</li>
            </ul>
        </nav>
    </div>

    <div class="demo">
        <h2>DEMO APP</h2>
    </div>

    <div class="look">
        <h1>I,m looking for......</h1>
    </div>

    <div class="form">
        <form action="">
            <input class="des" type="text" placeholder="Enter a Job Description">
            <input class="search" type="button" value="Search">
            <ul><input class="check1" type="checkbox">
                <label class="check1-1">Full Time</label>
                <input class="check2" type="checkbox">
                <label class="check2-2" for="">Part Time/Casual/Freelance</label>
                <select class="select" name="car" id="cars">
                    <option>Sellect your loction</option>
                    <option value="pune">Pune</option>
                    <option value="Latur">Latur</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Akurdi">Akurdi</option>
                </select>
            </ul>


        </form>
    </div>
    <button (click)="openDialog()" mat-raised-button color="primary">Register</button>

</div>